# Archivos de compilación
*.class
*.jar
*.war
*.ear
*.aar
*.zip
*.tar.gz
*.rar

# Archivos de construcción de Android Studio
*.iml
.idea/
.gradle/
/build/
/captures/

# Archivos de configuración
.gradle
local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/dictionaries
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml

# Archivos generados por el sistema
.DS_Store
Thumbs.db

# Directorio de salida para archivos generados
app/build/

# Archivos de configuración de ProGuard
proguard/
proguard-rules.pro

# Logs
*.log

# Archivos de Gradle
.gradle.kts/
build/

# Archivos de compilación de Gradle
/captures/

# Archivos de configuración de Gradle
local.properties

# Directorio de salida de Gradle Wrapper
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties


# Archivos de usuario
*.orig
